      h1 {
        color: green;
        font-size: 40px;
      }
      #banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../static/img/banner.jpg");
        height: 300px;
        object-fit: contain;
      }

      #banner-title {
        font-size: 50px;
        color: white;
      }